<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th [tableColumnSort]="form" targetColumn='position'>#</th>
        <th [tableColumnSort]="form" targetColumn='firstName'>First Name</th>
        <th [tableColumnSort]="form" targetColumn='lastName'>Last Name</th>
        <th [tableColumnSort]="form" targetColumn='dropDown'>Drop-down</th>
        <th>Up/Down</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userForm of form.controls; trackBy:trackByUserId; let index=index; let first=first; let last=last">
        <ng-container *ngIf="!userForm.value.deleted" [formGroup]="$any(userForm)">
          <td>
            <span>{{userForm.value.position}}</span>
          </td>
          <td>
            <span *ngIf="!userForm.value.unSaved">{{userForm.value.firstName | titlecase}}</span>
            <input *ngIf="userForm.value.unSaved"
              formControlName="firstName"
              class="form-control"
              [class.is-invalid]="validateFormControl(userForm, 'firstName')"/>
          </td>
          <td>
            <span *ngIf="!userForm.value.unSaved">{{userForm.value.lastName | titlecase}}</span>
            <input *ngIf="userForm.value.unSaved" formControlName="lastName" class="form-control"
              [class.is-invalid]="validateFormControl(userForm, 'lastName')"
              />
          </td>
          <td>
            <span *ngIf="!userForm.value.unSaved">{{userForm.value.dropDown}}</span>
            <select *ngIf="userForm.value.unSaved"
              formControlName="dropDown"
              class="form-control"
              [class.is-invalid]="validateFormControl(userForm, 'dropDown')"
            >
              <option [value]="null">Select Options</option>
              <option *ngFor="let option of dropDownOptions" [value]="option.id">{{option.text}}</option>
            </select>
          </td>
          <td>
            <button [disabled]="first" (click)="moveUp(index)">Up</button>
            <button [disabled]="last" (click)="moveDown(index)">Down</button>
          </td>
          <td>
            <div class="action-wrapper">
              <button class="btn btn-outline-secondary" (click)="addNewForm(index)">Add</button>
              <button class="btn btn-outline-primary" [disabled]="!userForm.value.id" (click)="editForm(userForm)">Edit</button>
              <button class="btn btn-outline-danger" [disabled]="first && !userForm.value.id" (click)="deleteForm(index)">Delete</button>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <div class="save-button-wrapper">
    <button *ngIf="showSaveButton()" class="btn btn-success" (click)="save()">Save</button>
  </div>
</div>