.container {
  margin-top: 24px;
}

.action-wrapper {
  display: flex;
  gap: 12px;
}

.table {
  background-color: #eee;

  th:not(:first-child) {
    min-width: 150px;
  }

  .re-arrange-th {
    width: 100px;
  }
  
  .operation-th {
    width: 300px;
  }

  td {
    vertical-align: middle;
  }
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.save-button-wrapper {
  display: flex;
  justify-content: right;
}

select + i.fa {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: red;
  padding-right: 5px;
}